/* Estilização geral */


.topo{
  overflow: hidden; 
  margin: 0px;
  padding: 0px;
  height: 100%;
  background-color:  rgba(179, 215, 249, 1);
  /*pagina completa*/

}
.header{
  
  display: flex;
  background-color: #fff;
  width: 100vw;
  height: 90px;
  justify-content: space-between;
  flex-direction: row;
  border-bottom: 2px solid #707479;

  /*cabeçalho*/
  
}
.logo1{
  display: flex;
  justify-content: center;
  align-self: center;
  height: 10vh;
  margin-left: 20px;
  flex-direction: row;
  /*conteiner de logo1 */
}
.logo1 .logo{
  
  width: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 150px;
  /*conteiner da img do cabeçalho*/
}
.header .logo1 .logo img{
  display: flex;
  width: 50px;
  /*imagem logo*/
  
}
.header .logo1 .logo h1{
  font-size: 20px;
  font-weight:bold;
  margin-left: 100px;
  margin-inline-end:-48px;
  margin-top: -35px;
  display: flex;
  gap: 10px;
  padding: 10px;
  white-space: nowrap;
  border-color: rgb(27, 247, 7);
  color: black;
  /*conteiner do texto da logo /h1 da logo*/
  
}

.header .logo1 .text{
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-left: 70px;
  width: 300px;
  /*conteiner do h2 da logo*/
  
}

.header .logo1 .text .h2{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  white-space: nowrap;
  font-weight: normal;
  margin-top: 5px;
  color: black;
  /*h2 da logo*/
  
}

.header .divP{
  display: flex;
  justify-content: center;
  align-self: center;
  height: 10vh;
  margin-left: 138px;
  flex-direction: row;
  border: none;
  width: 30%;
  /*conteiner de notif e perfil*/
}
.header .divP .notif{
  width:150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 15px;
  height: 75px;
  margin-left: 50%;
  /*conteiner de notif*/

}
.header .divP .notif img {
  width: 70px;
  align-items: center;
  justify-content: center;
  display: block;
  height: 50px;
  margin-left: -35%;
  /*conteiner de notif/img*/
}
.notif :hover {
  transform: scale(1.06); /* Move para cima e aumenta de tamanho */
}

.header .divP .perfil img {
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 10px;
  margin-left: -45%;
  /*conteiner de perfil do proprietario /img*/
}
.perfil :hover {
  transform: scale(1.06); /* Move para cima e aumenta de tamanho */
}

.header .divP .perfil .userNameLink{
  display: block;
  margin-top: -10%;
  color: #0a0a0a; 
  text-decoration: none; 
  font-size: 14px; 
  margin-left: -60%;
  /*conteiner de link/UserName*/

}
.fechar{
  margin-left: 97%;
 
}
.fechar button{
  margin-top: 8px;
  background: transparent;
  border: none;
  cursor: pointer;

}
.fechar :hover {
  transform: scale(1.06); /* Move para cima e aumenta de tamanho */
}

.profileContainer {
  box-sizing: border-box;
  margin-top: -15px;
  min-height: 100vh;

}

.profileTitle {
  padding-top: 25px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: rgb(95, 159, 243);
}
.profileName{
  text-align: center;
  margin-bottom: 20px;


}

.profileImageContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.profileImageContainer img {
  display: flex;
  justify-content: center;
  width: 120px;
  height: 120px;
}

.profileGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1px;
}
.profileField {
  margin-left: 100px;
}

.profileField, .profileField2 {
  
  align-items: center;
  padding-right: 30%;
  margin-top: 10px;
  
  

}
.profileField3 input{
  padding: 5px;
  border: 1px solid #ddd;
  padding-right: 30%;
  margin-left: 10px;
  margin-top: 8px;
}


.profileField label, .profileField2 label {
  flex: 0  50px;

  

}

.profileField input, .profileField2 input {
  flex: 1;
  padding: 5px;
  border: 1px solid #ddd;
  outline: none;
  margin-left: 10px;
  padding-right: 30%;
  
}

.profileField input[readonly], .profileField2 input[readonly], .profileField3 input[readonly] {
  background-color: #f0f0f0;
 
  
}
