.topo{
    
    margin: 0px;
    padding: 0px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    /*pagina completa*/

}
.header{
    display: flex;
    background-color: #DADADA;
    width: 100vw;
    height: 90px;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: 2px solid #1662aa;

    /*cabeçalho*/
    
}
.logo1{
    display: flex;
    justify-content: center;
    align-self: center;
    height: 10vh;
    margin-left: 20px;
    flex-direction: row;
    /*conteiner de logo1 */
}
.logo1 .logo{
    
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 150px;
    /*conteiner da img do cabeçalho*/
}
.header .logo1 .logo img{
    display: flex;
    width: 50px;
    /*imagem logo*/
    
}
.header .logo1 .logo h1{
    font-size: 20px;
    font-weight:bold;
    margin-left: 100px;
    margin-inline-end:-48px;
    margin-top: -35px;
    display: flex;
    gap: 10px;
    padding: 10px;
    white-space: nowrap;
    border-color: rgb(27, 247, 7);
    color: black;
    /*conteiner do texto da logo /h1 da logo*/
    
}

.header .logo1 .text{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-left: 70px;
    width: 300px;
    /*conteiner do h2 da logo*/
    
}

.header .logo1 .text .h2{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    white-space: nowrap;
    font-weight: normal;
    margin-top: 5px;
    color: black;
    /*h2 da logo*/
    
}

.header .divP{
    display: flex;
    justify-content: center;
    align-self: center;
    height: 10vh;
    margin-left: 138px;
    flex-direction: row;
    border: none;
    width: 30%;
    /*conteiner de notif e perfil*/
}
.header .divP .notif{
    width:150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 15px;
    height: 75px;
    margin-left: 50%;
    /*conteiner de notif*/
 
}
.header .divP .notif img {
    width: 70px;
    align-items: center;
    justify-content: center;
    display: block;
    height: 50px;
    margin-left: -35%;
    /*conteiner de notif/img*/
}

.header .divP .perfil img {
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 10px;
    margin-left: -45%;
    /*conteiner de perfil do proprietario /img*/
}

.header .divP .perfil .userNameLink{
    display: block;
    margin-top: -10%;
    color: #0a0a0a; 
    text-decoration: none; 
    font-size: 14px; 
    margin-left: -60%;
    /*conteiner de link/UserName*/

}

.main .fechar{
    text-align: right;
   
}
.main .fechar button{
    margin-top: 2%;
    margin-right: 3%;
    background: transparent;
    border: none;
    cursor: pointer;

}
.main .pet{
    display: grid;
    place-items: center;
    margin-top: 2%;
    /*conteiner de pet*/
    
}
.main .fotoperfil{
    margin-top: 1.5%;
    display: grid;
    place-items: center;
    /*conteiner de foto de perfil do pet*/

}

.main .fotoperfil .foto img{
    width: 105%;
    height: 110px;
    /*tamanho da ft de perfil do animal*/
    
}
.main .pet h1{
    color: #3A85CA;
    font-size: 230%;
    /*Prontuario pet*/
    
}
.main .pet h2{
    margin-top: 30px;
    color: #000000;
    float: left;
    font-weight: normal;
    font-weight: 170px;
    font-size: 80%;
    width: 13%;
    /*conteiner/(opicional)*/
}
.main .pet h2 .b{
    color: #050505;
    float: left;
    font-size: 130%;
    margin-top: -3px;
    margin-right: 5%;
    /*Foto do pet*/
   
}

.form {
    display: flex;
    padding: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: none;

    /*conteiner*/
   
}
.form fieldset{
    color: #000000;
    font-family:Arial, Helvetica, sans-serif;
    border: none;
    /*cor todal do formulario*/

}
.primeira{
    height: 500px;
    width: 50%;
    margin-left: 12%;
    /*conteiner do promeiro fieldest*/

}
.form .primeira input{
    background-color: #F3EFEF;
    margin-left: 15px;
    border-width: 1.5px;
    /*pega todos os inputs*/

}
.form .primeira .Nome input{
    width: 35%;
    height: 20px;
}
.form .primeira .proprietario input{
    width: 55%;
    height: 20px;
}
.form .primeira .cor input{
    width: 35%;
    height: 20px;
}
.form .primeira .raca input{
    width: 35%;
    height: 20px;
}
.form .primeira .sexo input{
    width: 35%;
    height: 20px;
}

.form .primeira .vacina {
    display: flex;
    /*conteiner. coloca data de vacina lado a lado*/

}
.form .primeira .datVac input{
    width: 97px;
    
     /*diminui o tamanho do campo*/
}
.form .primeira .datVac {
    margin-left: 3%;
/*afasta data de vacina*/

}

.segunda{
    width: 50%;
    /*conteiner do segundo fieldest*/
}
.form .segunda input{
    background-color: #F3EFEF;
    margin-left: 15px;
    border-width: 1.5px;
    /*pega todos os inputs*/
}
.form .segunda .Peso{
    display: flex;

    /*conteiner. coloca uf do lado de peso*/
}
.form .segunda .Peso input{
    width: 80px;
     /*diminui o tamanho do campo*/
}
.form .segunda .uf {
    width: 35%;
    margin-left: 15px;

    /*conteiner. afasta peso de uf*/
}
.form .segunda .uf input{
    width: 50px;
    height: 20px;
     /*diminui o tamanho do campo*/
}
.form .segunda .scrSD input{
    width: 40%;
    height: 20px;
}
.form .segunda .cidade input{
    width: 40%;
    height: 20px;
}

.form .segunda .verm{
    display: flex;
    /*conteiner. Coloca data do lado de verm*/
}
.form .segunda .dataVerm{
    margin-left: 15px;
    /*conteiner. afasta data de vacina*/
}
.form .segunda .verm input{
    width: 85px;
    /*diminui o tamanho do campo*/
}
.form .segunda .inputOBS {
    width: 50%;
    height: 50px;
    margin-left: 17%;
    margin-top: -15%;
    /*campo de observação*/
    
}
.form .segunda .obs  {
    padding-top: 5%;
    /*label de obs*/

}