.atraso {
    background-color: red;
    border-radius: 100%;
}

.concluido {
    background-color: #00ff00;
    border-radius: 100%;
}

.agendado {
    background-color: #dbf306;
    border-radius: 100%;
}