.container {
  text-align: center;
  padding: 2rem;
}

.atrasadoTile {
  background-color: red !important;
  color: white;
  border-radius: 50%;
  border: 2px solid darkred;
}

.agendadoTile {
  background-color: yellow !important;
  color: black;
  border-radius: 50%;
  border: 2px solid orange;
}

.eventList {
  margin-top: 1rem;
}

.eventItem {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.eventText {
  margin-left: 8px;
  font-weight: bold;
}
