

.topo{
  overflow: hidden; /* Remove todas as barras de rolagem */
  margin: 0px;
  padding: 0px;
  height: 100%;
  background-color: rgb(255, 255, 255);
  /*pagina completa*/

}
.header{
  
  display: flex;
  background-color: #fffcfc;
  width: 100vw;
  height: 90px;
  justify-content: space-between;
  flex-direction: row;
  border-bottom: 2px solid #707479;

  /*cabeçalho*/
  
}
.logo1{
  display: flex;
  justify-content: center;
  align-self: center;
  height: 10vh;
  margin-left: 20px;
  flex-direction: row;
  /*conteiner de logo1 */
}
.logo1 .logo{
  
  width: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 150px;
  /*conteiner da img do cabeçalho*/
}
.header .logo1 .logo img{
  display: flex;
  width: 50px;
  /*imagem logo*/
  
}
.header .logo1 .logo h1{
  font-size: 20px;
  font-weight:bold;
  margin-left: 100px;
  margin-inline-end:-48px;
  margin-top: -35px;
  display: flex;
  gap: 10px;
  padding: 10px;
  white-space: nowrap;
  border-color: rgb(27, 247, 7);
  color: black;
  /*conteiner do texto da logo /h1 da logo*/
  
}

.header .logo1 .text{
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-left: 70px;
  width: 300px;
  /*conteiner do h2 da logo*/
  
}

.header .logo1 .text .h2{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  white-space: nowrap;
  font-weight: normal;
  margin-top: 5px;
  color: black;
  /*h2 da logo*/
  
}

.header .divP{
  display: flex;
  justify-content: center;
  align-self: center;
  height: 10vh;
  margin-left: 138px;
  flex-direction: row;
  border: none;
  width: 30%;
  /*conteiner de notif e perfil*/
}
.header .divP .notif{
  width:150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 15px;
  height: 75px;
  margin-left: 50%;
  /*conteiner de notif*/

}
.header .divP .notif img {
  width: 70px;
  align-items: center;
  justify-content: center;
  display: block;
  height: 50px;
  margin-left: -35%;
  /*conteiner de notif/img*/
}
.notif :hover {
  transform: scale(1.06); /* Move para cima e aumenta de tamanho */
}

.header .divP .perfil img {
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 10px;
  margin-left: -45%;
  /*conteiner de perfil do proprietario /img*/
}
.perfil :hover {
  transform: scale(1.06); /* Move para cima e aumenta de tamanho */
}

.header .divP .perfil .userNameLink{
  display: block;
  margin-top: -10%;
  color: #0a0a0a; 
  text-decoration: none; 
  font-size: 14px; 
  margin-left: -60%;
  /*conteiner de link/UserName*/

}
.card {
  background-color: rgba(218, 218, 218, 1);
  min-height: 100vh; /* 100% da altura da viewport */
  width: 100%; /* Ocupa toda a largura */
  max-width: 200vw;
  overflow: hidden; /* Remove todas as barras de rolagem */
  padding: 0;
}        
.cardName {
  margin-left: 20px;
  font-size: 20px;
  margin-top: 20px;
} 

.container {
  transition: transform 0.2s ease, box-shadow 0.2s ease; /* Animação suave */
  float: left;
  max-width: 240px;
  margin: 55px auto;
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
 height: 240px;
 margin-left: 50px;
}
.container:hover {
  transform: translateY(-10px) scale(1.05); /* Move para cima e aumenta de tamanho */
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2); /* Aumenta o sombreamento para reforçar o efeito */
}
.H1Pet{
  font-size: 20px;
  margin-top: -5px;
  align-items: center;
  color: #ffffff;

}

.Npet  {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  margin-top: 10px;
  background-color: #2002cc;
  padding: 8px;
  height: 15px;
  margin-top: -15px;
  margin-left: -15px;
  margin-right: -15px;

}

.imageContainer {
  margin: 20px 0;
  position: relative;
  margin-top: 5px;
  margin-left: 5px;
}

.profileImage {
  border-radius: 50%;
  border-radius:0%;
  height: 150px;
  width: 150px;
}

.fileInput {
  display: none;
}

.fileLabel {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.iconContainer {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #170cb4;
  padding: -19px;
  margin-left: -15px;
  margin-right: -15px;
}

.iconButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 15px;
}

.iconButton:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}

.icon {
  font-size: 32px;
  color: black;
}
